<div class="row" id="1" ng-show="div1">
  <div class="columns col-md-12 id_11" id="1">
   <form role="form" name="myForm" novalidate class="form-validate mb-lg">
    <div class="form-group dragwidgets formElement" style="position: relative;">
      <label>Summary  :</label>
      <input type="text" class="form-control" placeholder="Enter brief summary about issue" ng-model="requestDetails.summary" required></textarea>
	    <span ng-show="myForm.$submitted|| (myForm.fn.$dirty && myForm.fn.$error.required)" class="text-danger">This field is required</span>
      <label>Description  :</label>
      <textarea type="textarea" class="form-control" placeholder="Enter detailed description about issue." rows="3" ng-model="requestDetails.description"></textarea>
    </div>
    <center>
      <div class="btn btn-info dragwidgets formElement" id="btn" name="Next" ng-click="next()" style="position: relative;">Next</div>
      <center>
	  </form>
      </div>
    </div>
    <div ng-show="div2">
      <div class="row" id="5">
        <div class="columns col-md-6 id_11" id="1">
          <div class="form-group dragwidgets formElement" id="labelId" style="font-weight: bold; position: relative;">Name : {{ticketDetails.name}}</div>
        </div>
        <div class="columns col-md-6 id_52" id="2">
          <div class="form-group dragwidgets formElement" id="labelId" style="font-weight: bold; position: relative;">Request Type : {{ticketDetails.requestType}}</div>
        </div>
      </div>
      <div class="row" id="8">
        <div class="columns col-md-12 id_81" id="1">
          <div class="form-group dragwidgets formElement" id="labelId" style="font-weight: bold; position: relative;">Project Name : {{ticketDetails.projectName}}</div>
          <div class="form-group dragwidgets formElement" id="labelId" style="font-weight: bold; position: relative;">Categorization Tier 1:
            <select class="form-control" name="tier1" ng-model="ticketDetails.tierOneCategory">
              <option value="" disabled style="background-color:white;color:black;">Select category</option>
              <option ng-repeat="tierOneCategory in TierOneCategories" value="{{tierOneCategory}}" style="background-color:white;color:black;">{{tierOneCategory}}</option>
            </select>
          </div>
          <div class="form-group dragwidgets formElement" id="labelId" style="font-weight: bold; position: relative;">Categorization Tier 2:
            <select class="form-control" name="tier2" ng-model="ticketDetails.tierTwoCategory">
              <option value="" disabled style="background-color:white;color:black;">Select category</option>
              <option ng-repeat="tierTwoCategory in tierTwoCategories" value="{{tierTwoCategory}}" style="background-color:white;color:black;">{{tierTwoCategory}}</option>

            </select>
          </div>
          <div class="form-group dragwidgets formElement" id="labelId" style="font-weight: bold; position: relative;">Categorization Tier 3:
            <select class="form-control" name="tier3" ng-model="ticketDetails.tierThreeCategory">
              <option value="" disabled style="background-color:white;color:black;">Select category</option>
              <option ng-repeat="tierThreeCategory in tierThreeCategories" value="{{tier3}}" style="background-color:white;color:black;">{{tierThreeCategory}}</option>
            </select>
          </div>
          <div class="form-group dragwidgets formElement" id="labelId" style="font-weight: bold; position: relative;">Priority :
            <select class="form-control" ng-model="ticketDetails.urgency" ng-options="priority in priorities"></select>
          </div>
          <center> <div class="btn btn-info dragwidgets formElement" id="btn" name="formButtonLabel" ng-click="submit()" style="position: relative;">Submit</div>
          </center>
          <script type="text/ng-template" id="PopUp">
          <div class="ngdialog-message">
          <div class="col-xs-12" style="text-align:center;font-size:16px">Your unique request Id is :{{}}. Kindly note it for futher communication.</div>
          <button style="background-color:#09417A;color:white;font-weight:bold;width:100%;margin-top:15px;font-size:16px" type="button" ng-click="closePopup()" class="btn">OK</button></div>
          </script>
        </div>
      </div>
    </div>
