<div class="row" id="1" ng-show="div1">
    <div class="columns col-md-12 id_11" id="1">
        <div class="form-group dragwidgets formElement" style="position: relative;">
            <label>Summary  :</label>
            <textarea type="textarea" class="form-control" placeholder="Enter Details" rows="3" ng-model="createTicket.Summary"></textarea>
        </div>

        <center>
            <div class="btn btn-info dragwidgets formElement" id="btn" name="Next" ng-click="next()" style="position: relative;">Next</div>
            <center>
    </div>
</div>

<div ng-show="div2">
  <div class="row" id="5">
        <div class="columns col-md-6 id_11" id="1">
            <div class="form-group dragwidgets formElement" id="labelId" style="font-weight: bold; position: relative;">Name : {{createTicket.Name}}</div>
        </div>
        <div class="columns col-md-6 id_52" id="2">
            <div class="form-group dragwidgets formElement" id="labelId" style="font-weight: bold; position: relative;">Request Type : {{createTicket.RequestType}}</div>
        </div>
    </div>
    <div class="row" id="8">
        <div class="columns col-md-12 id_81" id="1">
            <div class="form-group dragwidgets formElement" id="labelId" style="font-weight: bold; position: relative;">Description : {{createTicket.Description}}</div>
            <div class="form-group dragwidgets formElement" id="labelId" style="font-weight: bold; position: relative;">Categorization Tier 1:
			   <select class="form-control" name="tier1" ng-model="Tier1">
                    <option value="" disabled style="background-color:white;color:black;">select One Type</option>
                      <option ng-repeat="tier in createTicket.Tier1" value="{{tier}}" style="background-color:white;color:black;">{{tier}}</option>
			   
                  </select>
			</div>
            <div class="form-group dragwidgets formElement" id="labelId" style="font-weight: bold; position: relative;">Categorization Tier 2:
			   <select class="form-control" name="tier2" ng-model="Tier2">
                  <option value="" disabled style="background-color:white;color:black;">select One Type</option>
                      <option ng-repeat="tier in createTicket.Tier2" value="{{urgent}}" style="background-color:white;color:black;">{{tier}}</option>
			   
                  </select>
			</div>
            <div class="form-group dragwidgets formElement" id="labelId" style="font-weight: bold; position: relative;">Categorization Tier 3:
			   <select class="form-control" name="tier3" ng-model="Tier3">
                  <option value="" disabled style="background-color:white;color:black;">select One Type</option>
                      <option ng-repeat="tier in createTicket.Tier3" value="{{tier}}" style="background-color:white;color:black;">{{tier}}</option>
			   
                  </select>
			</div>
            <div class="form-group dragwidgets formElement" id="labelId" style="font-weight: bold; position: relative;">Urgency :
			   <select class="form-control" name="urgency" ng-model="createTicket.Urgency">
			     <option value="" disabled style="background-color:white;color:black;">select One Type</option>
                      <option ng-repeat="urgent in createTicket.urgency" value="{{urgent}}" style="background-color:white;color:black;">{{urgent}}</option>
			   
                  </select>
			</div>
            <center> <div class="btn btn-info dragwidgets formElement" id="btn" name="formButtonLabel" ng-click="submit()" style="position: relative;">Submit</div>
			 </center>
			  <script type="text/ng-template" id="PopUp">
    <div class="ngdialog-message">
    <div class="col-xs-12" style="text-align:center;font-size:16px">Your Request ID is :{{}}.We will help you soon!!!</div>
    <button style="background-color:#09417A;color:white;font-weight:bold;width:100%;margin-top:15px;font-size:16px" type="button" ng-click="closePopup()" class="btn">OK</button></div>
    </script>
        </div>
    </div>
	</div>