
          
          
        <div class="row columns col-sm-12" id="1" style="margin-top:5%;">
		
		<a  class="list-group-item" style="border: none;" ng-click="newTicket()">
                     <div class="media-box" >

                        <div>
                        <div class="pull-right">
                           <img src="app/img/createTicket.png" alt="Image" class="media-box-object img-circle thumb32">
                        </div>

                              <label style="font-size: 14pt;">Create Ticket</label>

                        </div>
                     </div>

                  </a>
				    <hr style="margin-left: -10%;margin-right: -10%;">
				  <a  class="list-group-item" style="border: none;" ng-click="openRequest()">
                     <div class="media-box" >

                        <div style="background-color: transparent;" >
                        <div class="pull-right">
                           <img src="app/img/open.jpg" alt="Image" class="media-box-object img-circle thumb32">
                        </div>

                              <label style="font-size: 14pt;">Open Requests</label>

                        </div>
                     </div>

                  </a>
				    <hr style="margin-left: -10%;margin-right: -10%;">
				   <a  class="list-group-item" style="border: none;" ng-click="pendingRequest()">
                     <div class="media-box" >

                        <div style="background-color: transparent;" >
                        <div class="pull-right">
                           <img src="app/img/Pending.png" alt="Image" class="media-box-object img-circle thumb32">
                        </div>

                              <label style="font-size: 14pt;">Pending Requests</label>

                        </div>
                     </div>

                  </a>
				    <hr style="margin-left: -10%;margin-right: -10%;">
				   <a  class="list-group-item" style="border: none;" ng-click="closeRequest()">
                     <div class="media-box" >

                        <div style="background-color: transparent;" >
                        <div class="pull-right">
                           <img src="app/img/complete.png" alt="Image" class="media-box-object img-circle thumb32">
                        </div>

                              <label style="font-size: 14pt;">Closed Requests</label>

                        </div>
                     </div>

                  </a>
        
      </div>